
*{
    font-family: 'Ibarra Real Nova', serif;
    box-sizing: border-box;
    margin:0;
}

body{
    background-color: #e9d3cea4;;
}

/* Navbar */
.home{
    color: white;
}
.topnav {
    overflow: hidden;
    background-color: #000000;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
} 
.topnav a:hover {
    background-color: #C3AED6;
    color: black;
}
.topnav a.split {
    float: right;
}

/* Home */
.container{
    margin-top: 10px;
    text-align: center;

}
.container img{
    height:100px;
    width: auto;
}
.container div{
    font-size: 30px;
    text-align: center;
    font-style: italic;
    height:15s00px;
    line-height: 100px;
    color: #000000;
    font-family: 'Niconne', cursive;
    font-weight: 400px;
    text-shadow: 5px 5px 0px  #FFD5CD,
                10px 10px 0px #C3AED6, 
                15px 15px 0px  #8675A9;
}
h4 {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
h4:before,
h4:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #000;
    margin: auto;
}


/* form */
.center_form {
    margin: auto;
    width: 20%;
    height: 255px
}
.text_ing {
    margin: 5px;
    border: 1px solid black;
    width: 200px;
}
#button_1 {
    margin: auto;
    background-color: #C3AED6;
    font-size: 15px;
    padding: 10px;
    border-radius: 8px;
}
.center_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}



/* multimedia */
.iframe_2{
    width: 100%;
    height: 325px
    
}
.center_video {
    margin: auto;
    width: 30%;
    height: 315px;

}
.video {
    width: 100%;
    height: 315px;
}



/* footer */
.iframe_3{
    width: 100% 
}
footer {
    text-align: center;
    color: #e7dfef;
    background-color: #000000;
    padding: 20px;
    width: 100%;
    margin-top: 30px;
}

