*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* TEXT INDEX */
.justify {
    text-align: justify;
}

/* BODY */
main{
    padding-left: 100px;
    padding-right: 100px;
}
section{
    padding-top: 15px;
    padding-bottom: 10px;
}


/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #230629, #52085f, 
    #200425);  
    color: white;
}
.navbar-logo{
    font-size: 1.5rem;
    margin: .5rem;
    color: white;
    height: 30px;

}
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li {
    list-style: none;
}
.navbar-links li a {
    text-decoration: none;
    padding: 1rem;
    display: block;
    color: white;
}
.navbar-links li:hover {
    background: linear-gradient(to right, #230629, #52085f, 
#200425); 
}
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


/* Responsive */
@media (max-width: 768px) {
    .media_query {
        width: 100%;
        padding: 5px 10px;
    }
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
    
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li {
        text-align: center;
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
/* proyectos */
    .wide {
        grid-column: span 2;
    }
    .tall {
        grid-row: span 2;
    }

    /* NOSOTROS */

    .container_nosotros {
        display: flex;
        width: 100%;
        padding: 4% 2%;
        box-sizing: border-box;
        height: 45vh;

    }
    .box {
        flex: 1;
        overflow: hidden;
        transition: .5s;
        margin: 0 2%;
        box-shadow: 0 20px 30px #a79a96;
        line-height: 0;
    }
    .box > img {
        width: 200%;
        height: calc(100% - 10vh);
        object-fit: cover; 
        transition: .5s;
    }
    .box > span {
        font-size: 9px;
        display: block;
        text-align: center;
        line-height: 2;
    }
    .box:hover { flex: 1 1 50%; }
    .box:hover > img {
        width: 100%;
        height: 100%;
    }

}





/* Tablets and iPads (portrait and landscape) ---------- */
@media screen and (min-width: 768px) and (max-width: 1023px){
    .media_query {
        width: 100%;
        padding: 5px 10px;
    }

    /* NOSOTROS */

.container_nosotros {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 50vh;
}
.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px #a79a96;
    line-height: 0;
}
.box > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
}
.box > span {
    font-size: 2vh;
    display: block;
    text-align: center;
    height: 2vh;
    line-height: 2.6;
}
.box:hover { flex: 1 1 50%; }
.box:hover > img {
    width: 100%;
    height: 100%;
}


}
/* Low resolution desktops and laptops ---------- */
@media screen and (min-width: 1024px) {
    .media_query {
        width: 100%;
        padding: 5px 15px;
    }
    /* NOSOTROS */
    .container_nosotros {
        display: flex;
        width: 100%;
        padding: 4% 2%;
        box-sizing: border-box;
        height: 80vh;
    }
    .box {
        flex: 1;
        overflow: hidden;
        transition: .5s;
        margin: 0 2%;
        box-shadow: 0 20px 30px #a79a96;
        line-height: 0;
    }
    .box > img {
        width: 200%;
        height: calc(100% - 10vh);
        object-fit: cover; 
        transition: .5s;
    }
    .box > span {
        font-size: 2.5vh;
        display: block;
        text-align: center;
        height: 10vh;
        line-height: 2.6;
    }
    .box:hover { flex: 1 1 50%; }
    .box:hover > img {
        width: 100%;
        height: 100%;
    }

}
/* High resolution desktops and laptops ---------- */
@media screen and (min-width: 1280px) {
    .media_query {
        width: 100%;
        padding: 5px 20px;
    }
    /* NOSOTROS */

    .container_nosotros {
        display: flex;
        width: 100%;
        padding: 4% 2%;
        box-sizing: border-box;
        height: 80vh;
    }
    .box {
        flex: 1;
        overflow: hidden;
        transition: .5s;
        margin: 0 2%;
        box-shadow: 0 20px 30px #a79a96;
        line-height: 0;
    }
    .box > img {
        width: 200%;
        height: calc(100% - 10vh);
        object-fit: cover; 
        transition: .5s;
    }
    .box > span {
        font-size: 3.8vh;
        display: block;
        text-align: center;
        height: 10vh;
        line-height: 2.6;
    }
    .box:hover { flex: 1 1 50%; }
    .box:hover > img {
        width: 100%;
        height: 100%;
    }

}




/* CONTACTO */

.login-box {
    padding: 20px;
    background: rgba(144, 144, 144, 0.5);
}
.login-box .user-box {
    position: relative;
}
.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    font-size: 16px;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #8a0da0;
    font-size: 12px;
} 
.login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #32063a;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    margin-top: 10px;
}
.login-box button:hover {
    background: #b1b7b8;
    color: #32063a;
    border-radius: 5px;
    box-shadow: 0 0 5px #32063a,
                0 0 25px #32063a,
                0 0 50px #32063a
}

.center_button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;

}

/* PROYECTOS */


.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);

    padding: 20px;
    grid-auto-flow: dense;
}




/* SERVICIOS */
.grid-item_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b0b0b0;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* FOOTER */
footer{
    text-align: center;
    width: 100%;
    color:aliceblue;
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 20px;

    background: linear-gradient(to right, #230629, #52085f, 
#200425); 
}