
/* footer */
footer{
	background-color:  #533190;
	padding-bottom: 8px;
	color: $w;
	padding-bottom: 15px;
    a{
	color: $w;
    }
    .padding1{
	margin-left: 5px;
	margin-right: 5px;
    }
    .text-aling i{
        margin-left: 8px;
        margin-top: 20px;
    } 
}